**/kafka.properties
**/logback.xml
*.iml
*.ipr
*.iws
*/target/*
.DS_Store
.idea
target
/discovery/src/main/resources/kafka.properties
**/.project
**/.classpath
**/*.checkstyle
**/.eclipse
**/.settings
**/*~