jpa.dialect = org.hibernate.dialect.MySQL5Dialect
jpa.driver = org.mariadb.jdbc.Driver
jpa.url = "jdbc:mysql://localhost:3306/vm"
jpa.user =
jpa.password =

kafka.bootstrapServers =
kafka.groupId = vm
kafka.responseTimeout = 10000
