installer.java.download = "http://javadl.sun.com/webapps/download/AutoDL?BundleId=106240"
installer.kairosdb.download = "https://github.com/kairosdb/kairosdb/releases/download/v0.9.4/kairosdb-0.9.4-6.tar.gz"
installer.visor.download = "https://oss.sonatype.org/content/repositories/snapshots/io/github/cloudiator/visor/visor-service/0.3.0-SNAPSHOT/visor-service-0.3.0-20180219.105415-1.jar"
installer.lance.download = "https://oss.sonatype.org/content/repositories/snapshots/io/github/cloudiator/lance/server/0.2.0-SNAPSHOT/server-0.2.0-20171122.122528-54-jar-with-dependencies.jar"
installer.docker.binary.download = "https://raw.githubusercontent.com/cloudiator/lance/master/install/docker_retry_fix_version.sh"
installer.docker.mtu.download = "https://raw.githubusercontent.com/cloudiator/colosseum/master/resources/fix_mtu.sh"

kafka.bootstrapServers =
kafka.groupId = installer
kafka.responseTimeout = 10000
